p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.summary_box {
    position: relative;
    margin: 1.5em 0em;
    padding: 35px 10px 8px;
    border: solid 2px;
    border-radius: 10px;
    background: #F2F2F2;
}

.summary_box #title {
    position: absolute;
    display: inline-block;
    top: -15px;
    left: 20px;
    padding: 2px 1px;
    vertical-align: middle;
    background: #CCCCCC;
    font-weight: bold;
    border: solid 1px;
    border-radius: 10px;
}
.summary_box #title p {
    margin:0;
    margin-bottom: 0;
}
.summary_box p {
    margin: 0; 
    padding: 0;
}